@charset "UTF-8";

// Tasks: 
// * Fix Margin variables
// * Make logo icon animate on hover

// ***************
// ** VARIABLES **
// ***************

// Media Query Screen Sizes
$tablet-size: "screen and (min-width: 768px)";
$desktop-size: "screen and (min-width: 1440px)";

// @media #{$tablet-size} {
        
// }

// Colors
$dark-orange: #f16718;
$light-orange: #ff9b62;
$dark-blue: #162542;
$light-blue: #7b8bad;
$light-gray: #e8eff2;
$white: #fff;

// Margin Values
$mobile-padding: 1.5rem;
$tablet-padding: 2.5rem;

// ************
// ** STYLES **
// ************

// HTML Styles
html {
    box-sizing: border-box;
    overflow-x: hidden;
}

html,
body {
    width: 100vw;
    height: 100%;
    margin: 0;
}

body {
    font-family: Barlow, Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 500px;
    margin: auto;

    @media #{$tablet-size} {
        margin: 0;
        max-width: none;
    }
}

* {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    text-transform: uppercase;
    color: $dark-blue;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    color: $light-blue;
    font-weight: 500;
    line-height: 26px;
}

img {
    max-width: 100%;
    height: auto;
}

span {
    color: $light-blue;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    padding: $mobile-padding;

    @media #{$tablet-size} {
        width: 100%;
        padding: $tablet-padding;
    }

    @media #{$desktop-size} {
        padding: 55px 0 0; // PADDING IS USED A LOT HERE--CAN WE SWITCH TO MARGIN? EFFECIENCY IMPORTANT
    }
}

// main {
//     // overflow-x: hidden;
// }

section {
    padding: 0 $mobile-padding;

    @media #{$tablet-size} {
        padding: 0 0 0 $tablet-padding;
    }
}

footer {
    text-align: center;
    margin-bottom: 3.125rem;
    padding: $mobile-padding;

    @media #{$tablet-size} {
        padding-bottom: $tablet-padding;
    }
}

button {
    border: none;
    border-radius: 0.5rem;
    font-family: Barlow;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    width: 9.375rem;
    height: 3rem;
}

.page-container {
    @media #{$desktop-size} {
        max-width: 1110px;
        margin: 0 auto;
    }
}

.intro-grid-container {
    @media #{$tablet-size} {
        display: grid;
        grid-template-columns: minmax(378px, 1fr) 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @media #{$desktop-size} {
        position: relative;
        top: 0;
        left: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .introduction {
            grid-column: 1 / span 2;
        }

        .img-container-one {
            grid-column: 3 / span 2;
            justify-self: end;
        }

        .img-container-two {
            grid-column: 1 / span 3;
            max-width: 730px;
        }

        .product-description {
            grid-column: 4;
            grid-row: 2;
            align-self: center;
            flex-direction: column;
        }
    }
}

.introduction {
    margin-bottom: 4rem;

    p {
        margin: 32px 0;
    }

    span {
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 1rem;
    }

    .pre-order {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media #{$tablet-size} {
        padding-top: 3.75rem;
        max-width: 480px;
    }

    @media #{$desktop-size} {
        max-width: 445px;
        padding-left: 0;
    }
}

.introduction::after {
    @media #{$desktop-size} {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(285px);
        content: "";
        border-radius: 1rem;
        background: url(../assets/shared/pattern-square.svg) no-repeat;
        width: 255px;
        height: 240px;
    }
}

.keyboard-img {
    background: url(../assets/mobile/image-keyboard.jpg) no-repeat;
    background-size: cover;
    height: 331px;
    border-radius: 1rem;
    transform: translateX(1.5rem);
    margin-bottom: 1.5rem;

    @media #{$tablet-size} {
        background-image: url(../assets/tablet/image-keyboard.jpg);
        width: 478px;
        height: 425px;
        transform: translateX(3rem);
    }

    @media #{$desktop-size} {
        width: 540px;
        height: 480px;
        transform: translateX(0);
    }
}

.img-container-two {
    display: flex;
    margin-bottom: 4.6875rem;

    @media #{$tablet-size} {
        grid-column: span 2;
    }
    
    @media #{$desktop-size} {
        position: relative;
        top: 0;
        right: 0;
    }

    .phone-keyboard-img {
        background: $dark-orange url(../assets/mobile/image-phone-and-keyboard.jpg) no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        width: 129px;
        height: 193px;
        border-radius: 1rem;
        transform: translateX(-1.375rem);

        @media #{$tablet-size} {
            background-image: url(../assets/tablet/image-phone-and-keyboard.jpg);
            width: 214px;
            height: 320px;
            transform: none;
            margin: 0 $tablet-padding 0 30px;
        }

        @media #{$desktop-size} {
            background-image: url(../assets/desktop/image-phone-and-keyboard.jpg);
            width: 255px;
            height: 480px;
            margin: 0 1.875rem 0 0;
        }
    }

    .phone-keyboard-img::after {
        @media #{$desktop-size} {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateX(-285px);
            content: "";
            border-radius: 1rem;
            background: url(../assets/shared/pattern-square.svg) no-repeat;
            width: 255px;
            height: 240px;
            z-index: 10;
        }
    }
    
    .glass-keyboard-img {
        background: url(../assets/mobile/image-glass-and-keyboard.jpg) no-repeat;
        background-size: cover;
        width: 220px;
        height: 193px;
        border-radius: 1rem;

        @media #{$tablet-size} {
            background-image: url(../assets/tablet/image-glass-and-keyboard.jpg);
            width: 445px;
            height: 320px;
        }

        @media #{$desktop-size} {
            background-image: url(../assets/desktop/image-glass-and-keyboard.jpg);
            width: 445px;
            height: 480px;
            margin: 0 1.875rem 0 0;
        }
    }
}

.product-description {
    text-align: center;
    margin-bottom: 6.9375rem;

    h2 {
        max-width: 68%;
        margin: auto;
    }

    p {
        margin: 1.5rem 0 0;
    }

    @media #{$tablet-size} {
        grid-column: 1 / span 2;
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: flex-start;
        
        h2 {
            width: 255px;
            // max-width: 320px;
            margin: 0;
            text-align: left;
        }

        p {
            width: 474px;
            // max-width: 438px;
            margin: 0;
            padding: 0 2.25rem 0 2.5rem;
        }
    }

    @media #{$desktop-size} {
        max-width: 255px;
        padding-left: 0;

            h2 {
                width: auto;
                max-width: none;
            }

            p {
                width: auto;
                max-width: none;
                padding: 0;
                margin-top: 1.75rem;
            }
    }
}

.features {
    text-align: center;
    margin-bottom: 6rem;
    padding: 0 1.5rem;

    @media #{$tablet-size} {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: $tablet-padding;
        margin-bottom: 8.875rem;
        padding: 0;
    }

    @media #{$desktop-size} {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-left: 0;
        margin-bottom: 8rem;
    }

    p:last-child {
        margin-bottom: 0;
    }

    .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;

        @media #{$tablet-size} {
            text-align: left;
            align-items: flex-start;
            align-content: left;
            justify-content: flex-start;
            max-width: 281px;

            h3 {
                flex: 1;
            }
        }

        .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $dark-orange;
            border-radius: 1rem;
            width: 65px;
            height: 65px;
            margin-bottom: 3rem;

            @media #{$tablet-size} {
                margin-bottom: $tablet-padding;
            }

            @media #{$desktop-size} {
                margin-bottom: 3rem;
            }
        }

        .feature-icon {
            width: 100%;
        }

        .compatible-icon {
            width: 25.14px;
            height: 20.24px;
        }

        .bluetooth-icon {
            width: 17.68px;
            height: 27.86px;
        }

        .battery-icon {
            width: 31.99px;
            height: 20px;
        }

        .light-icon {
            width: 32px;
            height: 32px;
        }

        h3 {
            width: 60%;
        }

        p {
            margin-top: 1.5rem;
        }
    }
}

// Button Styles

.btn-orange {
    background-color: $dark-orange;
    color: $white;
}

.btn-orange:hover,.btn-orange:active {
    background-color: $light-orange;
}

.btn-gray {
    background-color: $light-gray;
    color: $dark-blue;
}

.btn-gray:hover, .btn-gray:active {
    background-color: $dark-blue;
    color: $white;
}