html {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0; }

body {
  font-family: Barlow, Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 480px;
  margin: auto; }

* {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  text-transform: uppercase;
  color: #162542;
  margin: 0; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

p {
  color: #7b8bad;
  font-weight: 500;
  line-height: 26px; }

img {
  max-width: 100%;
  height: auto; }

span {
  color: #7b8bad;
  font-weight: 700; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  padding: 24px; }

section {
  padding: 24px; }

footer {
  text-align: center;
  margin-bottom: 3.125rem;
  padding: 24px; }

button {
  border: none;
  border-radius: 0.5rem;
  font-family: Barlow;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  width: 9.375rem;
  height: 3rem; }

.introduction {
  margin-bottom: 4rem; }
  .introduction p {
    margin: 32px 0; }
  .introduction span {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 1rem; }
  .introduction .pre-order {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.img-container-two {
  display: flex;
  margin-bottom: 4.6875rem; }

.keyboard-img {
  background: url(../assets/mobile/image-keyboard.jpg) no-repeat;
  background-size: cover;
  height: 331px;
  border-radius: 1rem;
  transform: translateX(1.5rem);
  margin-bottom: 1.5rem; }

.phone-keyboard-img {
  background-color: #f16718;
  background-image: url(../assets/mobile/image-phone-and-keyboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  width: 129px;
  height: 193px;
  border-radius: 1rem;
  transform: translateX(-1.375rem); }

.glass-keyboard-img {
  background: url(../assets/mobile/image-glass-and-keyboard.jpg) no-repeat;
  background-size: cover;
  width: 220px;
  height: 193px;
  border-radius: 1rem; }

.product-description {
  text-align: center;
  margin-bottom: 6.9375rem; }
  .product-description h2 {
    max-width: 68%;
    margin: auto; }
  .product-description p {
    margin: 1.5rem 0 0; }

.features {
  text-align: center;
  margin-bottom: 6rem; }
  .features p:last-child {
    margin-bottom: 0; }
  .features .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem; }
    .features .feature .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f16718;
      border-radius: 1rem;
      width: 65px;
      height: 65px;
      margin-bottom: 3rem; }
    .features .feature .feature-icon {
      width: 100%; }
    .features .feature .compatible-icon {
      width: 25.14px;
      height: 20.24px; }
    .features .feature .bluetooth-icon {
      width: 17.68px;
      height: 27.86px; }
    .features .feature .battery-icon {
      width: 31.99px;
      height: 20px; }
    .features .feature .light-icon {
      width: 32px;
      height: 32px; }
    .features .feature h3 {
      width: 60%; }
    .features .feature p {
      margin-top: 1.5rem; }

.btn-orange {
  background-color: #f16718;
  color: #fff; }

.btn-orange:hover {
  background-color: #ff9b62; }

.btn-gray {
  background-color: #e8eff2;
  color: #162542; }

.btn-gray:hover {
  background-color: #162542;
  color: #fff; }

/*# sourceMappingURL=styles.css.map */
